.block-preview {
    background: url(../img/service-block/bg_img182.png);
    padding-top: 200px;
    padding-bottom: 150px;
    position: relative;

    .slogan {
        h3 {
            color: $fontColor;
        }
    }

    .content {
        position: relative;
        z-index: 9;
        display: flex;
        @include mq(md) {
            flex-wrap: wrap;
            justify-content: space-around;

        }

        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $bgColor;
            flex-basis: 23%;
            margin: 1%;
            padding: 15px 5px;
            height: 100%;
            border-radius: 13px;
            @include mq(lg) {
                min-width: 210px;
            }
            @include mq(sm) {
                flex-basis: 50%;
            }

            .img-wrap {
                width: 90%;
                height: 90%;
                max-width: 125px;
                max-height: 125px;
                margin-bottom: 15px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text-wrap {
                display: flex;
                width: 90%;
                justify-content: center;
                align-items: center;
                height: 60px;

                p {
                    text-align: center;
                }
            }

            // &:hover {

            // } 
        }
    }
}

.service-block {
    padding-top: 50px;

    &__info {
        position: relative;
        display: flex;
        @include mq(md){
            flex-direction: column;
            margin: 30px;
        }
        @include mq(xs) {
            margin: 20px 0;
        }

        &-img {
            flex-basis: 50%;
            padding: 10px;

            img {
                width: 100%;
                border-radius: 13px;
            }
        }

        &-text {
            flex-basis: 50%;
            padding: 10px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            .title {
                margin-bottom: 15px;
                font-size: 22px;
            }

            .subtitle {
                margin-top: -10px;
                margin-bottom: 20px;
                font-size: 19px;
            }
        }

        &-right {
            flex-direction: row-reverse;
            @include mq(md){
                flex-direction: column;
                margin: 30px;
            }
            @include mq(xs) {
                margin: 20px 0;
            }
        }
    }
}

.photo-block {
    background: url(../img/service-block/bg_img182.png);
    padding-top: 50px;
    padding-bottom: 60px;
    position: relative;

    .slogan {
        h3 {
            color: $fontColor;
        }
    }

    &_img {
        max-width: 90%;
        margin: 15px 15px;

        img {
            width: 100%;
            border-radius: 30px;
            @include mq(xs) {
                border-radius: 5px;
            }
        }
    }
}

.price-block {
    text-align: center;
    margin: 50px auto;

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-block {
            display: flex;
            flex-direction: column;
            flex-basis: 43%;
            background-color: $bgColor;
            margin: 10px;
            border-radius: 15px;
            padding: 13px;
            @include mq(sm){
                flex-basis: 50%;
                font-size: 14px;
            }
            @include mq(xs){
                flex-basis: 80%;
            }
            .subtitle {
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 20px;
                @include mq(sm){
                    margin-bottom: 13px;
                }
                &_signature {
                    font-size: 12px;
                    margin-bottom: 7px;
                }
            }

            ul {
                width: 100%;

                li {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    span {
                        display:inline-block;
                        white-space: nowrap;
                        &:nth-child(2) {
                            flex: 1 0;
                            border-bottom: 1px dotted #000;
                            height: 10px;
                            margin: 0 4px;
                        }
                    }
                }
            }
        }
    }
}